/*WebFont*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header, section, nav, article, footer {
    display: block;
}

header {
    position: relative;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #98999D
}

section {
    width: 100%;
    min-height:500px;
}

section:after {
    display: block;
    clear: both;
    content: '';
}

nav {
    float: left;
    width:250px;
    height:100%;
    min-height:500px;
    padding:20px;
    border-right: 1px solid #98999D;
}

article {
    float: left;
}

footer {
    position: relative;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #98999D;
    color: #aaa;
}

